#!/usr/bin/perl
use strict;

# Will hold pairs (profile name, result)
my %result;
my $line;
my $current_profile;
my $profile;
my $r;
my $latest_start = "UNKNOWN!";

# Go through the input.
while (defined($line = <STDIN>)) {
  if ($line =~ /Start duply.*(\d{4}\-\d{2}\-\d{2})/i) {
    $latest_start = $1;
  }
  if ($line =~ /Using profile '([^']*)'/i)
  {
    $current_profile = $1;
  }
  if ($line =~ /--- Finished state (\w+)/i)
  {
    if (!exists $result{$current_profile} || ($1 != "OK")) {
      $result{$current_profile} = $1;
    } 
  }
}

print "   Last run: $latest_start\n";
while (my ($profile, $r) = each %result) {
  print "   " . $profile . ": " . $r . "\n";
}
